@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

@media screen and (max-width: 767px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-for-desktop {
    display: none;
  }
}

* {
  font-family: "Overpass", sans-serif;
}

body {
  font-size: 1.8rem;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  color: #1f3f5b;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 3.4rem;
  line-height: 4.2rem;
  letter-spacing: -0.7px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6.1rem;
    letter-spacing: -0.6px;
    line-height: 6.6rem;
  }
}

h2 {
  font-size: 2.6rem;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 4rem;
    letter-spacing: -1.1px;
  }
}

h3 {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.1rem;
  letter-spacing: 0px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 768px) {
  p {
    letter-spacing: 0.5px;
    line-height: 2.8rem;
  }
}

main h2 {
  text-align: center;
  margin-bottom: 4.1rem;
}

@media screen and (min-width: 768px) {
  main h2 {
    margin-bottom: 10.5rem;
  }
}

main {
  overflow: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  background: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  padding: 0 2.2rem;
  margin: 0 auto;
  max-width: 111rem;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.cta {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 13rem;
  transition: 200ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .cta {
    height: 4.8rem;
    width: 13.7rem;
  }
}

.cta--white {
  background-color: white;
  color: #ff525d;
}

.cta--white:hover {
  background-color: #ff7a85;
  color: white;
}

.cta--sign-up {
  background: linear-gradient(115deg, #ff8f70, #ff3d54);
  color: white;
}

.cta--sign-up:hover {
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .cta--sign-up {
    background: white;
    color: #ff525d;
  }

  .cta--sign-up:hover {
    background-color: #ff7a85;
    color: white;
    opacity: 1;
  }
}

.cta--transparent {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.cta--transparent:hover {
  background-color: white;
  color: #ff525d;
}

.arrow {
  background: url("../images/icon-arrow-dark.svg") no-repeat;
  position: absolute;
  top: 1.8rem;
  right: -1.5rem;
  height: 0.6rem;
  width: 1rem;
  transition: 400ms ease-in-out transform;
}

@media screen and (min-width: 768px) {
  .arrow {
    background: url("../images/icon-arrow-light.svg") no-repeat;
    top: 0.8rem;
  }
}

@keyframes slide-in {
  from {
    top: 0;
  }

  50% {
    top: 14rem;
  }

  to {
    top: 12.1rem;
  }
}

@keyframes slide-out {
  from {
    top: 12.1rem;
  }

  50% {
    top: 14rem;
  }

  to {
    top: -100%;
  }
}

.header {
  background: url("../images/bg-pattern-intro.svg"), linear-gradient(115deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: 45% center;
  border-bottom-left-radius: 10rem;
  margin-bottom: 9.7rem;
  height: 57.5rem;
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .header {
    background-position: 30% center;
    height: 60rem;
    margin-bottom: 15.4rem;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.5rem;
}

@media screen and (max-width: 767px) {
  .header__nav {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 6.2rem;
  }
}

@media screen and (max-width: 767px) {
  .header__logo img {
    width: 7.8rem;
  }
}

@media screen and (min-width: 768px) {
  .header__logo img {
    margin-right: 6.7rem;
  }
}

@media screen and (max-width: 767px) {
  .header__links {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    padding: 2rem 2.6rem 3rem;
    position: absolute;
    top: 12.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4.4rem);
    z-index: 99;
  }
}

@media screen and (min-width: 768px) {
  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.header__links li {
  color: #1f3f5b;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}

.header__links li:hover {
  color: #4b5862;
}

@media screen and (min-width: 768px) {
  .header__links li {
    font-size: 1.4rem;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .header__links li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

.header__links.slidein {
  display: flex;
  animation: slide-in 600ms ease-in-out forwards;
}

.header__links.slideout {
  display: flex;
  animation: slide-out 600ms ease-in-out forwards;
}

.header__hamburger {
  cursor: pointer;
  width: 3rem;
}

@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger:before,
.header__hamburger:after,
.header__hamburger div {
  background: white;
  content: "";
  display: block;
  height: 0.2rem;
  margin: 0.5rem 0;
  transition: 200ms ease-in-out;
}

.header__hamburger.open::before {
  transform: translateY(1rem) rotate(135deg);
}

.header__hamburger.open::after {
  transform: translateY(-0.4rem) rotate(-135deg);
}

.header__hamburger.open div {
  transform: scale(0);
}

.header__cta {
  color: white;
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 2rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .header__cta {
    color: #1f3f5b;
    gap: 1.5rem;
    flex-direction: column;
    margin: 2.6rem auto 0;
  }
}

.header__cta a:first-of-type {
  font-size: 1.7rem;
  font-weight: 700;
  position: relative;
  transition: 200ms ease-in-out opacity;
}

@media screen and (min-width: 768px) {
  .header__cta a:first-of-type {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    opacity: 0.8;
  }
}

.header__cta a:first-of-type:hover,
.header__cta a:first-of-type:hover::before {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header__cta a:first-of-type::before {
    background-color: white;
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0.1rem;
    height: 0.1rem;
    width: 100%;
    transition: 200ms ease-in-out;
  }
}

.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 768px) {
  .dropdown:nth-of-type(2) {
    margin: 0 4.8rem;
  }
}

@media screen and (max-width: 767px) {
  .dropdown:nth-of-type(3) {
    border-bottom: 1px solid #f2f3f7;
    padding-bottom: 2.6rem;
  }
}

.dropdown:hover .dropdown__content {
  padding: 2rem 0;
  max-height: 30rem;
}

.dropdown:hover .dropdown__title {
  color: #566676;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown__title {
    color: white;
    opacity: 1;
  }
}

.dropdown:hover .dropdown__title::before {
  opacity: 1;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.dropdown__title {
  background-color: transparent;
  border: none;
  color: #1f3f5b;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1.2rem 0;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .dropdown__title {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    padding: 0;
    opacity: 0.8;
  }
}

@media screen and (min-width: 768px) {
  .dropdown__title::before {
    background-color: white;
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0.1rem;
    height: 0.1rem;
    width: 100%;
    transition: 200ms ease-in-out;
  }
}

.dropdown__content {
  background-color: #f2f3f7;
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 0;
  z-index: 1;
  transition: 350ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .dropdown__content {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 4rem;
    left: -2rem;
    min-width: 160px;
  }
}

.dropdown__content li {
  display: block;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .dropdown__content li {
    margin-left: 2rem;
  }
}

.dropdown__content li:not(:last-of-type) {
  margin-bottom: 1.7rem;
}

.dropdown__content li a {
  color: #566676;
  transition: 200ms ease-in-out opacity;
}

.dropdown__content li a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .dropdown__content li a {
    font-weight: 300;
  }

  .dropdown__content li a:hover {
    opacity: 1;
    font-weight: 600;
  }
}

.hero {
  text-align: center;
  margin: 10rem auto 0;
  max-width: 29rem;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 13rem;
    max-width: none;
  }
}

.hero h1 {
  color: white;
  margin-bottom: 1.4rem;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    margin-bottom: 2.2rem;
  }
}

.hero p {
  color: white;
  font-size: 1.7rem;
  line-height: 2.1rem;
  opacity: 0.8;
  margin-bottom: 4.6rem;
}

@media screen and (min-width: 768px) {
  .hero p {
    font-size: 1.9rem;
    margin-bottom: 4.8rem;
  }
}

.hero__cta {
  display: flex;
  justify-content: center;
  column-gap: 1.7rem;
}

.animate__animated {
  animation-fill-mode: none !important;
  -webkit-animation-fill-mode: none !important;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.feature>.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .feature>.container {
    align-items: start;
    justify-content: space-between;
    text-align: left;
  }
}

.feature__img {
  position: relative;
  margin-bottom: 3.7rem;
  height: 33.7rem;
}

@media screen and (min-width: 992px) {
  .feature__img {
    margin-bottom: 0;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .feature__img img {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .feature__description {
    max-width: 54rem;
  }
}

.feature__description h3 {
  margin: 0 auto 1.5rem;
  max-width: 28rem;
}

@media screen and (min-width: 992px) {
  .feature__description h3 {
    margin-bottom: 2.8rem;
    max-width: none;
  }
}

.feature__description h3:last-of-type {
  margin-bottom: 2.3rem;
}

.feature__description p:first-of-type {
  margin-bottom: 3.8rem;
}

@media screen and (min-width: 992px) {
  .feature__description p:first-of-type {
    margin-bottom: 7.6rem;
  }
}

@media screen and (min-width: 992px) {
  .feature--top>.container {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 992px) {
  .feature--top .feature__img {
    top: -10.3rem;
    right: -3.1rem;
    height: 65.1rem;
  }
}

.feature--bottom {
  margin-top: 5rem;
  margin-bottom: 9.1rem;
}

@media screen and (min-width: 992px) {
  .feature--bottom {
    margin-bottom: -5rem;
    margin-top: 31rem;
  }
}

@media screen and (min-width: 992px) {
  .feature--bottom>.container {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .feature--bottom .feature__img {
    top: -18.2rem;
    left: -43.3rem;
    height: 76.4rem;
  }
}

.feature--bottom h3 {
  margin-bottom: 2.5rem;
}

.state {
  background: url("../images/bg-pattern-circles.svg"), linear-gradient(#2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position-y: 125%;
  background-position-x: center;
  border-radius: 0 9rem 0 9rem;
  text-align: center;
  margin-top: 25.4rem;
  padding-top: 21.7rem;
  padding-bottom: 9rem;
  min-height: 44rem;
  position: relative;
}

@media screen and (min-width: 992px) {
  .state {
    background-position-y: 80%;
    background-position-x: -20%;
    text-align: left;
    margin-top: 4.9rem;
    padding: 0;
    min-height: initial;
    height: 40rem;
  }
}

.state>.container {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .state>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 991px) {
  .state img {
    position: absolute;
    top: -17.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 36.5rem;
  }
}

@media screen and (min-width: 992px) {
  .state img {
    position: relative;
    top: 2rem;
    left: -2.2em;
  }
}

.state__description {
  padding: 0 2.2rem;
}

@media screen and (min-width: 992px) {
  .state__description {
    padding: 1rem 0 0 1.5rem;
    width: 50%;
  }
}

.state__description h1,
.state__description p {
  color: white;
}

.state__description h1 {
  font-size: 3.7rem;
  line-height: 4.7rem;
  letter-spacing: 0.2px;
  margin-bottom: 2rem;
}

.footer {
  background-color: #25252d;
  border-top-right-radius: 9rem;
}

.footer>.container {
  text-align: center;
  padding-top: 7rem;
  height: 86rem;
}

@media screen and (min-width: 768px) {
  .footer>.container {
    display: flex;
    column-gap: 2rem;
    text-align: left;
    height: 36rem;
  }
}

.footer__logo {
  max-height: 4rem;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    flex: 0 1 100%;
    margin-right: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex: 0 1 100%;
    padding-top: 1rem;
  }
}

.footer__links:first-of-type {
  margin-top: 6.9rem;
}

@media screen and (min-width: 768px) {
  .footer__links:first-of-type {
    margin: 0;
  }
}

.footer__links:not(:last-of-type) {
  margin-bottom: 4.9rem;
}

.footer__links h4 {
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.footer__links h4 {
  font-weight: 500;
  margin-bottom: 2.9rem;
}

@media screen and (min-width: 768px) {
  .footer__links h4 {
    font-size: 1.54rem;
    margin-bottom: 3.6rem;
  }
}

.footer__links ul li {
  color: #c8c8cb;
  font-size: 1.7rem;
  line-height: 1.9rem;
}

@media screen and (min-width: 768px) {
  .footer__links ul li {
    font-size: 1.46rem;
  }
}

.footer__links ul li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

.footer__links ul li a {
  font-family: "Ubuntu", sans-serif;
  position: relative;
}

.footer__links ul li a::before {
  background-color: #c8c8cb;
  content: "";
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  transition: 200ms ease-in-out;
}

.footer__links ul li a:hover::before {
  opacity: 1;
}